
.searchBar{
    width: 14%;
}

.toolbar{
    display: flex;
    width: 100%;
}

.table {
    width: 100%;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
  }

.searchBox{
    text-align: end;
}
